<ngx-slick-carousel
  class="carousel"
  #slickModal="slick-carousel"
  [config]="slideConfigLogos"
>
  @for(product of pruductArr ;track product.id){
  <div ngxSlickItem class="slide">
    <div class="single-product">
      <div class="product-f-image">
        <img [src]="product.photo" alt="" class="img-fluid" />
        <div class="product-hover">
          <a routerLink="" class="add-to-cart-link"
            ><i class="fa fa-shopping-cart"></i> Add to cart</a
          >
          <a routerLink="/product" class="view-details-link"
            ><i class="fa fa-link"></i> See details</a
          >
        </div>
      </div>

      <h2>
        <a routerLink="/product">{{ product.title }}</a>
      </h2>

      <div class="product-carousel-price">
        <ins>${{ product.discount }}</ins> <del>${{ product.Price }}</del>
      </div>
    </div>
  </div>
  }
</ngx-slick-carousel>
