<ngx-slick-carousel
  class="carousel"
  #slickModal="slick-carousel"
  [config]="count"
>
  @for(product of pruductArr ;track product.id){
  <div ngxSlickItem class="slide">
    <div class="single-product">
      <div class="product-f-image">
        <img [src]="product.photo" alt="" class="" />
        <div class="product-hover">
          <a
            routerLink="/cart"
            class="add-to-cart-link"
            (click)="addCartItem(product)"
            ><i class="fa fa-shopping-cart"></i> Add to cart</a
          >
          <a
            routerLink="/product/{{ product.id }}"
            class="view-details-link"
            (click)="showDetails(product.id)"
            ><i class="fa fa-link"></i> See details</a
          >
        </div>
      </div>

      <h2>
        <a
          routerLink="/product/{{ product.id }}"
          (click)="showDetails(product.id)"
          >{{ product.title }}</a
        >
      </h2>

      <div class="product-carousel-price">
        <ins>{{ product.discount | currency }}</ins>
        <del>{{ product.Price | currency }}</del>
      </div>
    </div>
  </div>
  }
</ngx-slick-carousel>
