<!-- 
<div
  class="container d-flex justify-content-between flex-wrap p-3 align-content-xl-around"
>
  <div *ngFor="let product of pruductArr">
  
    <div class="card mb-3" style="width: 18rem" *ngIf="isLogin">
      <img class="card-img-top" [src]="product.imgPath" alt="Card image cap" />
      <div class="card-body">
        <a routerLink="/product/{{product.id}}"> <h5 class="card-title">{{ product.Name }}</h5></a> 
        <div [ngSwitch]="product.color">
          <p *ngSwitchCase="'Red'">Red</p>
          <p *ngSwitchCase="'Blue'">Blue</p>
          <p *ngSwitchDefault="'Black'">Black</p>
        </div>
        <p class="card-text">
          {{ product.detail }}
        </p>

        <p class="card-text">Price: {{ product.Price }}</p>
        <button class="btn btn-primary" (click)=" addCartItem(product)">Add to Cart</button>
      </div>
    </div>
  </div>
</div> -->
<div class="product-big-title-area">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="product-bit-title text-center">
                  <h2>Shop</h2>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6">
              <div class="single-shop-product">
                  <div class="product-upper">
                      <img src="../../assets/img/product-2.jpg" alt="">
                  </div>
                  <h2><a href="">Apple new mac book 2015 March :P</a></h2>
                  <div class="product-carousel-price">
                      <ins>$899.00</ins> <del>$999.00</del>
                  </div>  
                  
                  <div class="product-option-shop">
                      <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                  </div>                       
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="single-shop-product">
                  <div class="product-upper">
                      <img src="../../assets/img/product-1.jpg" alt="">
                  </div>
                  <h2><a href="">Apple new mac book 2015 March :P</a></h2>
                  <div class="product-carousel-price">
                      <ins>$899.00</ins> <del>$999.00</del>
                  </div>  
                  
                  <div class="product-option-shop">
                      <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                  </div>                       
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="single-shop-product">
                  <div class="product-upper">
                      <img src="../../assets/img/product-3.jpg" alt="">
                  </div>
                  <h2><a href="">Apple new mac book 2015 March :P</a></h2>
                  <div class="product-carousel-price">
                      <ins>$899.00</ins> <del>$999.00</del>
                  </div>  
                  
                  <div class="product-option-shop">
                      <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                  </div>                       
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="single-shop-product">
                  <div class="product-upper">
                      <img src="../../assets/img/product-4.jpg" alt="">
                  </div>
                  <h2><a href="">Apple new mac book 2015 March :P</a></h2>
                  <div class="product-carousel-price">
                      <ins>$899.00</ins> <del>$999.00</del>
                  </div>  
                  
                  <div class="product-option-shop">
                      <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                  </div>                       
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="single-shop-product">
                  <div class="product-upper">
                      <img src="../../assets/img/product-2.jpg" alt="">
                  </div>
                  <h2><a href="">Apple new mac book 2015 March :P</a></h2>
                  <div class="product-carousel-price">
                      <ins>$899.00</ins> <del>$999.00</del>
                  </div>  
                  
                  <div class="product-option-shop">
                      <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                  </div>                       
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="single-shop-product">
                  <div class="product-upper">
                      <img src="../../assets/img/product-1.jpg" alt="">
                  </div>
                  <h2><a href="">Apple new mac book 2015 March :P</a></h2>
                  <div class="product-carousel-price">
                      <ins>$899.00</ins> <del>$999.00</del>
                  </div>  
                  
                  <div class="product-option-shop">
                      <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                  </div>                       
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="single-shop-product">
                  <div class="product-upper">
                      <img src="../../assets/img/product-3.jpg" alt="">
                  </div>
                  <h2><a href="">Apple new mac book 2015 March :P</a></h2>
                  <div class="product-carousel-price">
                      <ins>$899.00</ins> <del>$999.00</del>
                  </div>  
                  
                  <div class="product-option-shop">
                      <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                  </div>                       
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="single-shop-product">
                  <div class="product-upper">
                      <img src="../../assets/img/product-4.jpg" alt="">
                  </div>
                  <h2><a href="">Apple new mac book 2015 March :P</a></h2>
                  <div class="product-carousel-price">
                      <ins>$899.00</ins> <del>$999.00</del>
                  </div>  
                  
                  <div class="product-option-shop">
                      <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                  </div>                       
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="single-shop-product">
                  <div class="product-upper">
                      <img src="../../assets/img/product-2.jpg" alt="">
                  </div>
                  <h2><a href="">Apple new mac book 2015 March :P</a></h2>
                  <div class="product-carousel-price">
                      <ins>$899.00</ins> <del>$999.00</del>
                  </div>  
                  
                  <div class="product-option-shop">
                      <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                  </div>                       
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="single-shop-product">
                  <div class="product-upper">
                      <img src="../../assets/img/product-1.jpg" alt="">
                  </div>
                  <h2><a href="">Apple new mac book 2015 March :P</a></h2>
                  <div class="product-carousel-price">
                      <ins>$899.00</ins> <del>$999.00</del>
                  </div>  
                  
                  <div class="product-option-shop">
                      <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                  </div>                       
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="single-shop-product">
                  <div class="product-upper">
                      <img src="../../assets/img/product-3.jpg" alt="">
                  </div>
                  <h2><a href="">Apple new mac book 2015 March :P</a></h2>
                  <div class="product-carousel-price">
                      <ins>$899.00</ins> <del>$999.00</del>
                  </div>  
                  
                  <div class="product-option-shop">
                      <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                  </div>                       
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="single-shop-product">
                  <div class="product-upper">
                      <img src="../../assets/img/product-4.jpg" alt="">
                  </div>
                  <h2><a href="">Apple new mac book 2015 March :P</a></h2>
                  <div class="product-carousel-price">
                      <ins>$899.00</ins> <del>$999.00</del>
                  </div>  
                  
                  <div class="product-option-shop">
                      <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                  </div>                       
              </div>
          </div>
      </div>
      
      <div class="row">
          <div class="col-md-12">
              <div class="product-pagination text-center">
                  <nav>
                    <ul class="pagination">
                      <li>
                        <a href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li>
                        <a href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>                        
              </div>
          </div>
      </div>
  </div>
</div>