<!-- <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        alt="E-commerce"
        class="img-fluid d-block w-100 carousel-item-img center-block"
        src="../assets/images/pexels-karolina-grabowska-5632371.jpg"
      />
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Welcome Deal.</h1>
          <p class="opacity-75">
            Sign Up today and have 5$ Discount and Enjoy our Free Delivery.
          </p>
          <p>
            <a class="btn btn-lg btn-primary" routerLink="/register"
              >Sign up today</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img
        alt="E-commerce"
        class="img-fluid d-block w-100 carousel-item-img center-block"
        src="../assets/images/pexels-karolina-grabowska-5632371.jpg"
      />
      <div class="container">
        <div class="carousel-caption">
          <h1>Meet Our Partners.</h1>
          <p>We have Exclusive offers from all around the World.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img
        alt="E-commerce"
        class="img-fluid d-block w-100 carousel-item-img center-block"
        src="../assets/images/pexels-karolina-grabowska-5632371.jpg"
      />
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Newly Arrived Products.</h1>
          <p>Check our Latest Products of the Month.</p>
          <p>
            <a class="btn btn-lg btn-primary" routerLink="/products"
              >Browse gallery</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


 -->
 <div class="slider-area">
  <!-- Slider -->
<div class="block-slider block-slider4">
<ul class="" id="bxslider-home4">
  <li>
    <img src="../../assets/img/h4-slide.png" alt="Slide">
    <div class="caption-group">
      <h2 class="caption title">
        iPhone <span class="primary">6 <strong>Plus</strong></span>
      </h2>
      <h4 class="caption subtitle">Dual SIM</h4>
      <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
    </div>
  </li>
  <li><img src="../../assets/img/h4-slide2.png" alt="Slide">
    <div class="caption-group">
      <h2 class="caption title">
        by one, get one <span class="primary">50% <strong>off</strong></span>
      </h2>
      <h4 class="caption subtitle">school supplies & backpacks.*</h4>
      <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
    </div>
  </li>
  <li><img src="../../assets/img/h4-slide3.png" alt="Slide">
    <div class="caption-group">
      <h2 class="caption title">
        Apple <span class="primary">Store <strong>Ipod</strong></span>
      </h2>
      <h4 class="caption subtitle">Select Item</h4>
      <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
    </div>
  </li>
  <li><img src="../../assets/img/h4-slide4.png" alt="Slide">
    <div class="caption-group">
      <h2 class="caption title">
        Apple <span class="primary">Store <strong>Ipod</strong></span>
      </h2>
      <h4 class="caption subtitle">& Phone</h4>
      <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
    </div>
  </li>
</ul>
</div>
<!-- ./Slider -->
</div> <!-- End slider area -->
