<div class="container-fluid">
  <div class="row">
    <div class="slider-area">
      <div class="block-slider block-slider4">
        <div class="container">
          <div class="row">
            <!-- Slider carousel-item-->
            <ngx-slick-carousel
              class="carousel"
              #slickModal="slick-carousel"
              [config]="slideConfig"
            >
              @for (slide of slides; track slide.img) {
              <div ngxSlickItem class="slide">
                <div class="carousel-item">
                  <img [src]="slide.img" alt="Slide" />
                  <div class="caption-group1">
                    <h2 class="caption title">
                      {{ slide.title }}
                      <span class="primary"> {{ slide.greentext }}</span>
                    </h2>
                    <h4 class="caption subtitle">{{ slide.subtitle }}</h4>
                    <a class="caption button-radius" routerLink="/products"
                      ><span class="icon"></span>Shop now</a
                    >
                  </div>
                </div>
              </div>

              }
            </ngx-slick-carousel>
          </div>
        </div>
      </div>
    </div>
    <!-- End slider area -->

    <div class="promo-area">
      <div class="zigzag-bottom"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="single-promo promo1">
              <i class="fa fa-refresh"></i>
              <p>30 Days return</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="single-promo promo2">
              <i class="fa fa-truck"></i>
              <p>Free shipping</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="single-promo promo3">
              <i class="fa fa-lock"></i>
              <p>Secure payments</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="single-promo promo4">
              <i class="fa fa-gift"></i>
              <p>New products</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End promo area -->

    <div class="maincontent-area">
      <div class="zigzag-bottom"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="latest-product">
              <h2 class="section-title">Latest Products</h2>
              <app-latest-products
                [count]="slideConfiglatestProducts"
              ></app-latest-products>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End main content area -->

    <div class="brands-area">
      <div class="zigzag-bottom"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="brand-wrapper">
              <ngx-slick-carousel
                class="carousel"
                #slickModal="slick-carousel"
                [config]="slideConfigLogos"
                >@for (slide of slidesLogos; track slide.img) {
                <div class="product-f-image">
                  <div ngxSlickItem class="slide">
                    <img [src]="slide.img" alt="Slide" class="img-fluid" />
                  </div>
                </div>
                }
              </ngx-slick-carousel>
              <div class="brand-list"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End brands area -->

    <div class="product-widget-area">
      <div class="zigzag-bottom"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="single-product-widget">
              <h2 class="product-wid-title">Top Sellers</h2>
              <a routerLink="" class="wid-view-more">View All</a>
              <div class="single-wid-product">
                <a routerLink="/product"
                  ><img
                    src="../../assets/img/product-thumb-1.jpg"
                    alt=""
                    class="product-thumb"
                /></a>
                <h2><a routerLink="/product">Sony Smart TV - 2015</a></h2>
                <div class="product-wid-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="product-wid-price">
                  <ins>$400.00</ins> <del>$425.00</del>
                </div>
              </div>
              <div class="single-wid-product">
                <a routerLink="/product"
                  ><img
                    src="../../assets/img/product-thumb-2.jpg"
                    alt=""
                    class="product-thumb"
                /></a>
                <h2><a routerLink="/product">Apple new mac book 2015</a></h2>
                <div class="product-wid-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="product-wid-price">
                  <ins>$400.00</ins> <del>$425.00</del>
                </div>
              </div>
              <div class="single-wid-product">
                <a routerLink="/product"
                  ><img
                    src="../../assets/img/product-thumb-3.jpg"
                    alt=""
                    class="product-thumb"
                /></a>
                <h2><a routerLink="/product">Apple new i phone 6</a></h2>
                <div class="product-wid-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="product-wid-price">
                  <ins>$400.00</ins> <del>$425.00</del>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-product-widget">
              <h2 class="product-wid-title">Recently Viewed</h2>
              <a href="#" class="wid-view-more">View All</a>
              <div class="single-wid-product">
                <a routerLink="/product"
                  ><img
                    src="../../assets/img/product-thumb-4.jpg"
                    alt=""
                    class="product-thumb"
                /></a>
                <h2><a routerLink="/product">Sony playstation microsoft</a></h2>
                <div class="product-wid-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="product-wid-price">
                  <ins>$400.00</ins> <del>$425.00</del>
                </div>
              </div>
              <div class="single-wid-product">
                <a routerLink="/product"
                  ><img
                    src="../../assets/img/product-thumb-1.jpg"
                    alt=""
                    class="product-thumb"
                /></a>
                <h2><a routerLink="/product">Sony Smart Air Condtion</a></h2>
                <div class="product-wid-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="product-wid-price">
                  <ins>$400.00</ins> <del>$425.00</del>
                </div>
              </div>
              <div class="single-wid-product">
                <a routerLink="/product"
                  ><img
                    src="../../assets/img/product-thumb-2.jpg"
                    alt=""
                    class="product-thumb"
                /></a>
                <h2><a routerLink="/product">Samsung gallaxy note 4</a></h2>
                <div class="product-wid-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="product-wid-price">
                  <ins>$400.00</ins> <del>$425.00</del>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-product-widget">
              <h2 class="product-wid-title">Top New</h2>
              <a href="#" class="wid-view-more">View All</a>
              <div class="single-wid-product">
                <a routerLink="/product"
                  ><img
                    src="../../assets/img/product-thumb-3.jpg"
                    alt=""
                    class="product-thumb"
                /></a>
                <h2><a routerLink="/product">Apple new i phone 6</a></h2>
                <div class="product-wid-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="product-wid-price">
                  <ins>$400.00</ins> <del>$425.00</del>
                </div>
              </div>
              <div class="single-wid-product">
                <a routerLink="/product"
                  ><img
                    src="../../assets/img/product-thumb-4.jpg"
                    alt=""
                    class="product-thumb"
                /></a>
                <h2><a routerLink="/product">Samsung gallaxy note 4</a></h2>
                <div class="product-wid-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="product-wid-price">
                  <ins>$400.00</ins> <del>$425.00</del>
                </div>
              </div>
              <div class="single-wid-product">
                <a routerLink="/product"
                  ><img
                    src="../../assets/img/product-thumb-1.jpg"
                    alt=""
                    class="product-thumb"
                /></a>
                <h2><a routerLink="/product">Sony playstation microsoft</a></h2>
                <div class="product-wid-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="product-wid-price">
                  <ins>$400.00</ins> <del>$425.00</del>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- End product widget area -->
  </div>
</div>
